# ------------------------------------
# 1. Node.js (web-app 폴더 내부)
# ------------------------------------
/web-app/node_modules
/web-app/build
/web-app/.env

# ------------------------------------
# 2. Python 가상 환경 및 캐시
# ------------------------------------
# 사용자님의 가상 환경 이름은 foodfilter 일 가능성이 높습니다.
/foodfilter
/env
/.venv
__pycache__/
*.pyc

# ------------------------------------
# 3. 데이터 및 임시 파일
# ------------------------------------
/image/
/result/
.DS_Store
Thumbs.db

# ------------------------------------
# 4. 민감한 정보
# ------------------------------------
.env
.env.local
venv/
/web-app/public/images
/web-app/public/images
